@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;800&display=swap');

@import url('components/hero.css');
@import url('components/courses.css');
@import url('components/navbar.css');
@import url('components/button.css');

:root {
    --font-family: 'Raleway';
    --border-radius-section: 2rem;
    --border-radius: 1rem;
    --padding-x: 6rem;
    --padding-y: 6rem;
    --color-text-dark: #7A4185;
    --color-brand-pink: #C15CD6;
    --color-brand-blue: #5797FF;
    --gradient-headings: linear-gradient(135deg, var(--color-brand-pink) 0%, var(--color-brand-blue) 100%);
    --gradient-background: linear-gradient(135deg, #d6e0ff 0%, #c8d8ff 100%);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family), sans-serif;
}

h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -1.5px;

    background: var(--gradient-headings);
    background-size: 100% 200%; /* Make background taller */
    background-position: 0 0; /* Position it at the top */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    padding-bottom: 0.1em; /* Add small padding for descenders */
}

h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -1.5px;

    background: var(--gradient-headings);
    background-size: 100% 200%; /* Make background taller */
    background-position: 0 0; /* Position it at the top */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    padding-bottom: 0.1em; /* Add small padding for descenders */
}

h3, h4, h5, h6 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -1px;
}

p, a{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0;
    color: var(--color-text-dark);
}

button {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0;
}

@media (max-width: 1024px) {
    /* tablet */
    :root {
        --padding-x: 4rem;
        --padding-y: 6rem;
    }

    h1 {
        font-size: 48px;
        font-weight: 700;
        line-height: 1;
        letter-spacing: -1px;
    }

    h2 {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.3;
        letter-spacing: -1px;
    }

    h3, h4, h5, h6 {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.3;
        letter-spacing: -1px;
    }

    p, a {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.4;
        letter-spacing: 0;
        color: var(--color-text-dark);
    }
    button {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.4;
        letter-spacing: 0;
    }
}

@media (max-width: 480px) {
    :root {
        --padding-x: 2rem;
        --padding-y: 4rem;
    }

    h1, h2 {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.3;
        letter-spacing: -1px;
    }

    h3 {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.3;
        letter-spacing: -1px;
    }

    p, a {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.4;
        letter-spacing: 0;
        color: var(--color-text-dark);
    }

    button {
        font-size: 16px;
        font-weight: 600;
        line-height: 1.4;
        letter-spacing: 0;
    }
}
