.hero {
    position: sticky;
    top: 0;
    overflow: hidden;
    min-height: 100vh;
    z-index: 1; /* Lower than navbar (1000) but higher than content behind */
}

#bg-video {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: -1;
}

.hero-container-wrapper {
    /* same size as video */
    aspect-ratio: 16 / 9;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1;

}

.hero-container {
    max-width: 1600px;
    height: 100%;
    margin: 0 auto;
    padding: var(--padding-y) var(--padding-x);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.hero-content {
    max-width: 50%;
}

.hero-content h1 {
    margin-bottom: 1rem;
}

@media (max-width: 1024px) {
    .hero {
        display: flex;
        flex-direction: column;
        padding-top: 80px;
        position: sticky; /* Keep sticky on mobile too */
    }

    #bg-video {
        position: relative;
        width: 100%;
    }

    .hero-container-wrapper {
        position: relative;
        aspect-ratio: auto;
    }

    .hero-content {
        max-width: 92%;
    }
}
